body {
  background-color: #14213d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
  color: #fff;
}

.section-start,
.section-end {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 250%;
  transition: all 0.4s linear;
  cursor: context-menu;
}

.start-text,
.end-text {
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  visibility: visible;
}

.start-btn {
  display: inline-block;
  padding: 8px 64px;
  font-size: 50px;
  color: #fff;
  background-color: #e63946;
  border-radius: 30px;
  border: 2px solid #fff;
  z-index: 4;
}

.start-btn:hover {
  background-color: #f48c06;
  opacity: 0.9;
}

.point {
  color: #06d6a0;
}

.section-info {
  display: none;
  opacity: 0;
  transition: all 0.3s linear;
}

.time-info,
.point-info {
  font-size: 1.3em;
  font-weight: bold;
  color: #fff;
  position: fixed;
  right: 30px;
  top: 20px;
  opacity: 0.8;
  cursor: context-menu;
}

.time {
  color: #f48c06;
}

.point-info {
  right: 150px;
  top: 20px;
}

.circle {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 5em;
  background-color: #343a40;
  color: rgba(255, 255, 255, 0);
  font-weight: bold;
  font-size: 1em;
  border-radius: 100%;
  cursor: grab;
  transition: all 0.3s linear;
  z-index: 3;
}

.circle:hover,
.circle:focus {
  background-color: #fca2114d;
  border-width: 10px;
}

.circle:active {
  border-color: #fff;
}

.circle-red {
  border: 3px solid #e63946;
  background-image: url(../images/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.circle-blue {
  border: 3px solid #0096c7;
  background-image: url(../images/2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.circle-green {
  border: 3px solid #80ed99;
  background-image: url(../images/3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.circle-orange {
  border: 3px solid #f48c06;
  background-image: url(../images/4.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.circle-black {
  border: 3px solid #001219;
  background-image: url(../images/5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
